---
import Html from "../layouts/Html.astro";

import Navigation from "../components/Navigation.astro";
import HeaderImage from "../components/HeaderImage.astro";
import TextContent from "../components/TextContent.astro";
import DownloadCTA from "../components/DownloadCTA.astro";
import HiddenField from "../components/HiddenField.astro";

const href = "/glory";
---

<Html
  title="Revealing Glory - Faschingsfreizeit 2024 | One Südwest"
  description="Anmeldung für die Revealing Glory Faschingsfreizeit von 09.02. - 13.02.2024 in Grünstadt"
  pageUrl="https://www.onesw.de/glory"
  ogTitle="Revealing Glory | Faschingsfreizeit 2024"
  ogDescription="Revealing Glory Faschingsfreizeit 09.02. - 13.02.2024 in Grünstadt"
  ogImage="/og-image-glory.jpeg"
  imageAlt="Revealing Glory Faschi 17.02.2024 - 21.02.2024 in Grünstadt von One Südwest"
  twitterImage="/twitter-image-glory.jpeg"
  updatedTime="2023-09-07T19:01:13.241Z"
  href={href}
>
  <Navigation href={href} />
  <HeaderImage
    srcset={[400, 600, 800, 1000, 1200, 1440, 1920]
      .map((width) => `/images/glory_header-image/${width}.jpeg ${width}w`)
      .join(", ")}
    centerImage={true}
    alt="Revealing Glory Faschi 09.02. - 13.02.2024 in Grünstadt von One Südwest"
    position="100% 50%"
    bottomTransitionColor="var(--dark-background-color)"
  >
    <style is:inline>
      #header-image-middle {
        background-image: url("/images/glory_header-image/middle.webp");
        width: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        height: min(520px, 60vh);
        background-position: 50%;
      }

      @font-face {
        font-family: "CMGSans";
        font-style: normal;
        font-weight: 600;
        src: url(/fonts/CMGSans-600.woff2) format("woff2");
      }

      :where(.text-content) h1 {
        color: var(--font-color);
        font-family: "CMGSans", sans-serif;
        font-size: 54px;
        line-height: 1;
        padding-bottom: 12px;
        margin: 0;
      }

      :where(.text-content) h2 {
        color: var(--font-color);
        font-family: "CMGSans", sans-serif;
        font-size: 36px;
        line-height: 1.1;
        margin: 0;
      }

      :where(.text-content) h3 {
        color: var(--font-color);
        font-family: "CMGSans", sans-serif;
        font-size: 28px;
        margin: 0;
        margin-top: 12px;
        margin-bottom: -12px;
      }

      :where(.text-content) h4 {
        color: var(--light-highlight-color);
        font-family: "CMGSans", sans-serif;
        font-size: 22px;
        margin: 0;
        margin-bottom: -16px;
        margin-top: 16px;
      }

      :where(.text-content) * {
        word-wrap: break-word;
      }

      @media (max-width: 500px) {
        :where(.text-content) h1 {
          font-size: 44px;
        }

        :where(.text-content) h2 {
          font-size: 32px;
        }

        :where(.text-content) h3 {
          font-size: 24px;
        }

        :where(.text-content) h4 {
          font-size: 18px;
        }
      }
    </style>
    <div id="header-image-middle"></div>
  </HeaderImage>
  <TextContent
    backgroundColor="var(--dark-background-color)"
    showBottomTransition={true}
    bottomTransitionColor="white"
  >
    <h1>Revealing Glory - Faschingsfreizeit</h1>
    <h2>Von 09.02. - 13.02.2024 in Grünstadt</h2>
    <section>
      <p>
        Revealing Glory offenbart sich in Grünstadt – und du willst diese Faschi
        nicht verpassen!
      </p>
      <p>
        Schnall dir deine Glaubensrüstung an und mach dich bereit, denn nachdem
        wir letztes Jahr einen Vorgeschmack auf Gottes Herrlichkeit erlebt
        haben, steuern wir dieses Jahr auf eine noch tiefere Begegnung zu!
      </p>
      <p>
        Sei gespannt auf Sprecher, die das Feuer Gottes in dir entfachen werden.
        Erlebe Workshops, die über reine Worte hinausgehen und echte Veränderung
        anstoßen! Tiefgehende Kleingruppenzeiten? Check. Atmosphärischer
        Worship, der den Himmel berührt? Doppel-Check. Und nicht zu vergessen,
        Erinnerungen, an denen du lange Freude haben wirst!
      </p>
    </section>
    <section>
      <h2>Zahlung der Teilnahmegebühr</h2>
      <p>
        Die Teilnahmegebühr muss zeitgleich mit der Anmeldung überwiesen werden.<br
        />
        Weitere Infos dazu in den AGB.
      </p>
      <h3>SUPER EARLY BIRD</h3>
      <p>
        Bei Anmeldung (und Zahlung des TN-Betrages)<br />
        bis zum 05.11.2023 = € 120,-<br /><br />
        Verlängerung vom 31.10. auf den 05.11.,<br />weil wir vergessen haben
        das hier auf der Webseite einzubauen 🙈
      </p>
      <h3>EARLY BIRD</h3>
      <p>
        Bei Anmeldung (und Zahlung des TN-Betrages)<br />
        bis zum 31.12.2023 = € 140,-
      </p>
      <h3>Standard Ticket</h3>
      <p>ab dem 01.01.2024 = € 160,-</p>
      <p>
        Geschwisterkinder erhalten bei zeitgleicher Anmeldung bis zum 01.02.2024
        eine Ermäßigung. Der Teilnehmerbetrag beträgt in diesem Fall ab dem 1.
        Geschwisterkind € 100 pro Kind.
      </p>
      <p>
        Familien mit SGB II – Bezug melden sich bitte bei Jan: <HiddenField
          prefixValue="+49 176 "
          suffixValue="705 96 308"
        />
      </p>
    </section>
    <section>
      <h2>Sondertickets</h2>
      <style is:inline>
        [data-hide] {
          display: none;
        }
      </style>
      <h3 data-hide>Tagesticket</h3>
      <p data-hide>
        30€ pro Tag (inklusive Abendsession)<br />
        Tag bitte im Verwendungszweck mit angeben.<br />
        Beispiel Verwendungszweck: Revealing Glory Letsch, Fabian Montag
      </p>
      <h3 data-hide>Abendsession</h3>
      <p data-hide>
        15€ pro Abendsession<br />
        Tag bitte im Verwendungszweck mit angeben.<br />
        Beispiel Verwendungszweck: Revealing Glory Letsch, Fabian Montag
      </p>
      <script>
        const hideDate = new Date("2024-01-15T00:00:00");
        const currentDate = new Date();

        if (currentDate > hideDate) {
          const elementsToHide = document.querySelectorAll("[data-hide]");
          elementsToHide.forEach((element) => {
            (element as any).style.display = "block";
          });
        }
      </script>
      <h3>Familienzimmer</h3>
      <p>
        Ein Familienzimmer kostet 300€.<br />
        Enthalten sind darin zwei Teilnehmergebühren für die Eltern.<br />
        Kinder unter 10 Jahren können kostenlos mitkommen, für Kinder ab 10 Jahren
        fällt die aktuell geltende Teilnehmergebühr an.<br /><br />

        Bitte im Verwendungszweck mit angeben.<br />
        Beispiel: Revealing Glory Letsch, Fabian Familienzimmer<br /><br />

        Falls sich genug Kinder finden, die noch zu jung sind um teilzunehmen,
        möchte Dayany eine Kinderbetreuung anbieten. Schreibe ihr deshalb bitte,
        falls du vor hast deine Kleinen mitzubringen:
        <HiddenField prefixValue="dayany14" suffixValue="09@gmail.com" />
      </p>
      <h3>Booster Ticket</h3>
      <p>
        Falls du im Jahr 2023 beim Teamboost in Andernach dabei warst, zahlst du
        bei Anmeldung (und Zahlung des TN-Betrages)<br />
        bis zum 10.01.2024 = <strong>€ 80,-</strong>
      </p>
    </section>
    <section>
      <h2>Bankverbindung</h2>
      <h3>YOUTH ALIVE RHEINLAND-PFALZ/SAARLAND</h3>
      <p>
        IBAN: DE34 5505 0120 0000 0136 64<br />
        BIC: MALADE51MNZ<br />
        Verwendungszweck: Revealing Glory Name, Vorname
      </p>
    </section>
    <section>
      <h2 style="color: #b51818">BITTE UNBEDINGT LESEN</h2>
      <p>
        Okay, ernste Sache: Bevor du zur Revealing Glory Freizeit kommst, musst
        du mit deinen Eltern die Allgemeinen Geschäftsbedingungen durchackern.
        Nein, das ist keine Option, sondern ein Muss. Du musst es <span
          style="text-decoration: underline;">unterschrieben</span
        > zur Revealing Glory Freizeit mitbringen – kein Wenn und Aber.
      </p>
      <p>
        Bitte aktiviere umgehend die Bestätigungsemail, die du nach dem Absenden
        deiner Daten erhälst. (Diese ist wegen technischer Gründe nur wenige
        Tage gültig)
      </p>
      <p>Weiter unten findest du die Anmeldung.</p>
      <DownloadCTA
        href="/pdf/freizeitregeln-agb-glory.pdf"
        text="Freizeitregeln/AGB herunterladen"
      />
    </section>
  </TextContent>
  <div style="padding: min(30vh, 140px) 20px; background-color: white;">
    <iframe
      width="100%"
      style="border-width:0px; display: block;"
      height="1000px"
      src="https://yarps.church.tools/publicgroup/223?embedded=true"
      title="Anmeldung zur Faschingsfreizeit über church tools"
      loading="lazy"
    >
    </iframe>
  </div>
  <div style="height: 80px; margin-bottom: -80px; background-color: white">
  </div>
</Html>
