---
import Html from "../layouts/Html.astro";

import Navigation from "../components/Navigation.astro";
import HeaderImage from "../components/HeaderImage.astro";
import TextContent from "../components/TextContent.astro";
import DownloadCTA from "../components/DownloadCTA.astro";
import HiddenField from "../components/HiddenField.astro";

const href = "/behold";
---

<Html
    title="BEHOLD - Faschingsfreizeit 2023 | One Südwest"
    description="Anmeldung für die BEHOLD Faschingsfreizeit von 17.02. - 21.02.2023 in Grünstadt"
    pageUrl="https://www.onesw.de/behold"
    ogTitle="BEHOLD | Faschingsfreizeit 2023"
    ogDescription="BEHOLD Faschingsfreizeit 17.02. - 21.02.2023 in Grünstadt"
    ogImage="/og-image-behold.jpeg"
    imageAlt="BEHOLD Faschi 17.02.2023 - 21.02.2023 in Grünstadt von one südwest"
    twitterImage="/twitter-image-behold.webp"
    updatedTime="2022-11-14T19:50:14.853Z"
    href={href}
>
    <Navigation href={href} />
    <HeaderImage
        srcset={[400, 600, 800, 1000, 1200, 1440, 1920]
            .map(
                (width) => `/images/behold_header-image/${width}.webp ${width}w`
            )
            .join(", ")}
        centerImage={true}
        alt="BEHOLD Faschi 17.02.2023 - 21.02.2023 in Grünstadt von one südwest"
        position="100% 50%"
        bottomTransitionColor="var(--dark-background-color)"
    >
        <style is:inline>
            #header-image-middle {
                background-image: url("/images/behold_header-image/middle.webp");
                width: 100%;
                background-size: contain;
                background-repeat: no-repeat;
                height: min(420px, 60vh);
                background-position: 50%;
                transform: translateY(-5vh);
            }

            @media (max-width: 740px) {
                #header-image-middle {
                    background-image: url("/images/behold_header-image/middle_mobile.webp");
                    height: min(600px, 50vh);
                }
            }
        </style>
        <div id="header-image-middle"></div>
    </HeaderImage>
    <TextContent
        backgroundColor="var(--dark-background-color)"
        showBottomTransition={true}
        bottomTransitionColor="white"
    >
        <h1>BEHOLD - Faschingsfreizeit</h1>
        <h2>Von 17.02. - 21.02.2023 in Grünstadt</h2>
        <section>
            <p>
                BEHOLD! Endlich wieder Faschi! Schnapp dir deine Sachen und komm
                nach Grünstadt!
            </p>
            <p>
                Fünf Tage Begegnung mit Gott und deinen Freunden aus ganz
                Rheinland-Pfalz und Saarland! Unsere letzte vor Ort
                Faschingsfreizeit war 2020, deshalb ist es mega, dass wir uns
                endlich wieder treffen können.
            </p>
            <p>
                Auf dich warten inspirierende Sprecher, hammer Workshops,
                lebensverändernde Kleingruppenzeiten, tiefer Worship und eine
                große Menge Spaß!
            </p>
        </section>
        <section>
            <h2>Zahlung der Teilnehmergebühr</h2>
            <p>
                Die Teilnehmergebühr muss zeitgleich mit der Anmeldung
                überwiesen werden.<br />
                Weitere Infos dazu in den AGB.
            </p>
            <h3>SUPER EARLY BIRD</h3>
            <p>
                Bei Anmeldung (und Zahlung des TN-Betrages)<br />
                bis zum 31.11.2022 = € 99,-
            </p>
            <h3>EARLY BIRD</h3>
            <p>
                Bei Anmeldung (und Zahlung des TN-Betrages)<br />
                bis zum 31.12.2022 = € 119,-
            </p>
            <h3>Standard Ticket</h3>
            <p>ab dem 01.01.2023 = € 129,-</p>
            <p>
                Geschwisterkinder erhalten bei zeitgleicher Anmeldung bis zum
                01.02.2023 eine Ermäßigung. Der Teilnehmerbetrag beträgt in
                diesem Fall ab dem 1. Geschwisterkind € 89 pro Kind.
            </p>
            <p>
                Familien mit SGB II – Bezug melden sich bitte bei Jan: <HiddenField
                    prefixValue="+49 176 "
                    suffixValue="705 96 308"
                />
            </p>
        </section>
        <section>
            <h2>BITTE UNBEDINGT LESEN</h2>
            <p>
                Lies bitte unbedingt die Allgemeinen Geschäftsbedingungen
                zusammen mit deinen Eltern durch, keine Angst, das ist nicht das
                typische BLABLA was du weg klickst, wenn du ein Programm
                installierst oder dich irgendwo anmeldest, sondern tatsächlich
                wichtige Informationen rund um die Freizeit welche du von deinen
                Eltern <span style="text-decoration: underline;">unterschrieben</span> zur BEHOLD mitbringen musst.
            </p>
            <p>Weiter unten findest du die Anmeldung.</p>
            <DownloadCTA
                href="/pdf/freizeitregeln-agb-behold.pdf"
                text="Freizeitregeln/AGB herunterladen"
            />
        </section>
    </TextContent>
    <div style="padding: min(30vh, 140px) 20px; background-color: white;">
        <iframe
            width="100%"
            style="border-width:0px; display: block;"
            height="1000px"
            src="https://yarps.church.tools/publicgroup/205?embedded=true"
            title="Anmeldung zur Faschingsfreizeit über church tools"
            loading="lazy"
        >
        </iframe>
    </div>
    <div style="height: 80px; margin-bottom: -80px; background-color: white">
    </div>
</Html>
