---
import Html from "../layouts/Html.astro";

import Navigation from "../components/Navigation.astro";
import HeaderImage from "../components/HeaderImage.astro";
import TextContent from "../components/TextContent.astro";
import OneLogoWithText from "../components/svg/OneLogoWithText.astro";
import HiddenField from "../components/HiddenField.astro";

const href = "/";
---

<Html
	title="One Südwest - Jugendliche für Jesus und seine Gemeinde begeistern"
	description="One Südwest, auch bekannt als Youth Alive RPS, ist die Landesjugendarbeit des BFP in Rheinland-Pfalz und Saarland."
	pageUrl="https://onesw.de"
	ogTitle="One Südwest"
	ogDescription="Jugendliche von Jesus und seiner Gemeinde begeistern."
	ogImage="/og-image.jpeg"
	imageAlt="Rechts steht Jan und spricht in ein Mikrofon, links sind Jugendliche welche aufmerksam zuhören. In der Mitte ist das One Südwest Logo"
	siteName="One Südwest"
	twitterImage="/twitter-image.webp"
	updatedTime="2022-09-24T09:20:17.492Z"
	href={href}
>
	<Navigation href={href} />
	<HeaderImage
		srcset={[400, 600, 800, 1000, 1200, 1440, 1920]
			.map(
				(width) => `/images/index_header-image/${width}.webp ${width}w`
			)
			.join(", ")}
		centerImage={true}
		alt="Kopfbild - Rechts steht Jan und spricht in ein Mikrofon, links sind Jugendliche welche aufmerksam zuhören. In der Mitte ist das One Südwest Logo"
		position="80% 40%"
	>
		<OneLogoWithText />
	</HeaderImage>
	<TextContent
		backgroundColor="var(--background-color)"
		bottomTransitionColor="var(--dark-background-color)"
	>
		<h1>ONE Südwest</h1>
		<h2>Jugendliche von und für Jesus und seiner Gemeinde begeistern</h2>
		<p>
			One Südwest ist die übergemeindliche Jugendarbeit des <a
				href="https://www.bfp.de/de/"
				target="_blank"
				title="Bund freikirchlicher Pfingstgemeinden">BFP</a
			> in Rheinland-Pfalz und Saarland. Wir veranstalten Jugendfreizeiten
			und Weiterbildungsevents für Jugendleiter und Mitarbeiter.
			<br />
			<br />
			Offiziell sind wir ein Arbeitszweig vom <a
				href="http://www.ljw-rps.de/"
				target="_blank">Landesjugendwerk RPS</a
			>
			und eines der sieben Distrikte des <a
				href="https://one-movement.de/"
				target="_blank">ONE Movements</a
			>.
			<br />
			<br />
			Unser wichtigstes Event ist die Faschingsfreizeit, welche jedes Jahr
			im Frühjahr stattfindet.
			<br />
			<br />
			Falls du Teil einer christlichen Jugendarbeit in Rheinland-Pfalz oder
			im Saarland bist und du an unseren Events mitwirken willst oder sonstige
			Fragen hast, dann schreib am besten Mal Jan Nikel unter <HiddenField
				prefixValue="+49 176 "
				suffixValue="70596308"
			/> an. Er ist der Leiter von One Südwest.
		</p>
	</TextContent>
</Html>
