---
import Html from "../layouts/Html.astro";

import Navigation from "../components/Navigation.astro";
import VideoHeaderImage from "../components/VideoHeaderImage.astro";
import TextContent from "../components/TextContent.astro";

const href = "/jcsquad";
---

<Html
  title="JCSquad - Faschingsfreizeit 2025 | One Südwest"
  description="JCSquad Faschingsfreizeit von 28.02. - 04.03.2025 in Grünstadt"
  pageUrl="https://www.onesw.de/jcsquad"
  ogTitle="JCSquad | Faschingsfreizeit 2025"
  ogDescription="JCSquad Faschingsfreizeit 28.02. - 04.03.2025 in Grünstadt"
  ogImage="/og-image-jcsquad.jpg"
  imageAlt="JCSquad Faschi 28.02. - 04.03.2025 in Grünstadt von One Südwest"
  twitterImage="/twitter-image-jcsquad.webp"
  updatedTime="2024-09-29T21:40:32.905Z"
  href={href}
>
  <Navigation href={href} />
  <VideoHeaderImage
    srcset={[400, 600, 800, 1000, 1200, 1440, 1920]
      .map((width) => `/images/jcsquad_header-image/${width}.webp ${width}w`)
      .join(", ")}
    videoSrc="/videos/jcsquad_header-video.mp4"
    centerImage={true}
    alt="JCSquad Faschi 28.02. - 04.03.2025 in Grünstadt von One Südwest"
    position="50% 50%"
  />
  <TextContent>
    <style>
      a {
          padding: 10px 20px;
          background-color:  #ffff00;
          color: black;
          border-radius: 2px;
          text-decoration: none;
          transition: all 200ms ease;
          text-align: center;
      }
      
      a:hover {
          background-color:#ff0000
      }

      .hase {
          display: flex;
          gap: 16px;
          margin-top: 20px;
          flex-wrap: wrap;
      }

      .haste {
          background-color: #ff00ff;
      }

      @media (max-width: 600px) {
          .hase {
              flex-direction: column;
          }

          a {
              flex: 1;
          }
      }

      .rainbow {
        animation: colorRotate 0.5s linear 0s infinite;
      }

      @keyframes colorRotate {
        0% {
          color: #ff0000;
        }
        20% {
          color: #ffff00;
        }
        40% {
          color: #00ff00;
        }
        60% {
          color: #00ffff;
        }
        80% {
          color: #ff00ff;
        }
        100% {
          color: #ff0000;
        }
      }
    </style>
    <h1 style="color: #0FF">JCSquad - Faschingsfreizeit</h1>
    <h2>Von 28.02. - 04.03.2025 in Grünstadt</h2>
    <section>
      <p>
        JCSquad ballert in Grünstadt – und du willst diese epische
        Freizeit auf keinen Fall verpassen!
      </p>
      <p>
        Pack deine Sachen und mach dich bereit für die Faschi 2025!
        Dieses Jahr gehen wir all-in:
        Wir tauchen tief ein und erleben, was es wirklich bedeutet, von <span class="rainbow">JC</span> bedingungslos geliebt zu werden.
        Wir erfahren die heilende Kraft Gottes und entdecken die wahre Identität, die wir in Ihm haben.
      </p>
      <p>
        Und die besten Erinnerungen, von denen du noch ewig zehren wirst gibt es auch noch mit dazu!
        Sei dabei, wenn sich die Squad in Grünstadt trifft und wir gemeinsam eine unvergessliche Zeit erleben.
      </p>
    </section>
    <section>
      <div class="hase">
        <a href="https://pretix.onesw.de/onesw/jcsquad" target="_blank">Jetzt Tickets sichern</a>
        <a href="/pdf/teilnahmebedingungen-jcsquad.pdf" target="_blank" class="haste">Teilnahmebedingungen herunterladen</a>
      </div>
    </section>
  </TextContent>
</Html>
