---
export interface Props {
	title: string;
    description: string;
    pageUrl: string;
    ogTitle: string;
    ogDescription: string;
    updatedTime: string;
    ogImage?: string;
    twitterImage?: string;
    imageAlt?: string;
}

const {
    title,
    description,
    pageUrl,
    ogTitle,
    ogDescription,
    ogImage,
    imageAlt,
    updatedTime,
    twitterImage,
} = Astro.props;
---

<head>
    {/* standard */}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description}>
    <link rel="canonical" href={pageUrl}>
    <link rel="shortlink" href={pageUrl}>

    {/* theming */}
    <meta name="theme-color" content="#000000">
    <link rel="icon" href="/favicon.svg">
    <link rel="mask-icon" href="mask-icon.svg" color="#000000">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="manifest" href="manifest.json">
    {/* https://developers.google.com/search/docs/crawling-indexing/robots-meta-tag */}
    <meta name="robots" content="max-image-preview:large">

    {/* Facebook */}
    <meta property="og:locale" content="de_DE">
    <meta property="og:type" content="website">
    <meta property="og:title" content={ogTitle}>
    <meta property="og:description" content={ogDescription}>
    <meta property="og:url" content={pageUrl}>
    <meta property="og:site_name" content="One Südwest">
    {/* new Date().toISOString() */}
    <meta property="og:updated_time" content={updatedTime}>

    {ogImage && imageAlt && (
        <meta property="og:image" content={ogImage}>
        <meta property="og:image:secure_url" content={ogImage}>
        <meta property="og:image:width" content="1200">
        <meta property="og:image:height" content="630">
        <meta property="og:image:alt" content={imageAlt}>
        <meta property="og:image:type" content="image/jpeg">
    )}

    {/* Twitter */}
    <meta name="twitter:title" content={ogTitle}>
    <meta name="twitter:creator" content="@FabianLetsch">
    <meta name="twitter:description" content={ogDescription}>
    {twitterImage && imageAlt && (
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:image" content={twitterImage}>
        <meta name="twitter:image:alt" content={imageAlt}>
    )}

    <style is:inline>
        @font-face {
            font-family: 'Teko';
            font-style: normal;
            font-weight: 600;
            src: url(/fonts/teko-normal-600.woff2) format('woff2');
        }

        @font-face {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            src: url(/fonts/montserrat-normal-400.woff2) format('woff2');
        }

        :root {
            --background-color: #2a2a2a;
            --highlight-color: #ff6d6d;
            --light-highlight-color: #ff9999;
            --dark-highlight-color: #8c2323;
            --font-color: #eee;
            --dark-background-color: #000;
            --important-color: #99cc00;
            --footer-height: 170px;
        }

        @media (max-width: 700px) {
            :root {
                --footer-height: 210px;
            }
        }

        body {
            margin: 0;
            background-color: var(--background-color);
        }

        #page-wrapper {
            position: relative;
            min-height: 100vh;
        }

        #content-wrapper {
            padding-bottom: var(--footer-height);
        }

        .text-content {
            display: block;
            margin-right: auto;
            margin-left: auto;
            padding: min(30vh, 140px) 20px;
            box-sizing: border-box;
            width: 100%;
            max-width: 900px;
        }

        :where(.text-content) section {
            margin: 56px 0;
        }

        :where(.text-content) h1 {
            color: var(--font-color);
            font-family: 'Teko', sans-serif;
            font-size: 54px;
            margin: 0;
        }

        :where(.text-content) h2 {
            color: var(--font-color);
            font-family: 'Teko', sans-serif;
            font-size: 36px;
            line-height: 1.1;
            margin: 0;
        }

        :where(.text-content) h3 {
            color: var(--font-color);
            font-family: 'Teko', sans-serif;
            font-size: 28px;
            margin: 0;
            margin-top: 12px;
            margin-bottom: -12px;
        }

        :where(.text-content) h4 {
            color: var(--light-highlight-color);
            font-family: 'Teko', sans-serif;
            font-size: 22px;
            margin: 0;
            margin-bottom: -16px;
            margin-top: 16px;
        }

        :where(.text-content) p, :where(.text-content) li {
            color: var(--font-color);
            font-family: 'Montserrat', sans-serif;
            margin: 16px 0;
            font-size: 18px;
        }

        :where(.text-content) a {
            color: var(--light-highlight-color);
            font-family: 'Montserrat', sans-serif;
            font-size: 18px;
        }

        .navigation-link {
            color: var(--font-color);
            font-family: "Teko", sans-serif;
            font-size: 22px;
            text-transform: uppercase;
            text-decoration: none;
        }

        .navigation-link:hover, .navigation-link[data-active] {
            color: var(--highlight-color);
        }

        .navigation-logo-icon {
            width: 20px;
            height: 20px;
            fill: var(--font-color);
        }

        .navigation-logo-icon:hover {
            fill: var(--highlight-color);
        }
    </style>
</head>
