---
export interface Props {
	title: string;
    description: string;
    pageUrl: string;
    ogTitle: string;
    ogDescription: string;
    ogImage: string;
    ogImageAlt: string;
    siteName: string;
    twitterImage: string;
}

const {
    title,
    description,
    pageUrl,
    ogTitle,
    ogDescription,
    ogImage,
    ogImageAlt,
    siteName,
    twitterImage,
} = Astro.props;
---

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="theme-color" content="#000000">
    <link rel="icon" href="favicon.svg">
    <link rel="mask-icon" href="mask-icon.svg" color="#000000">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="manifest" href="manifest.json">
    <meta name="generator" content={Astro.generator} />
    {/* https://developers.google.com/search/docs/crawling-indexing/robots-meta-tag#comma-separated-list */}
    <meta name="robots" content="max-image-preview:large">
    <title>{title}</title>
    <meta name="description" content={description}>
    <link rel="canonical" href={pageUrl}>
    <meta property="og:locale" content="de_DE">
    <meta property="og:type" content="website">
    <meta property="og:title" content={ogTitle}>
    <meta property="og:description" content={ogDescription}>
    <meta property="og:url" content={pageUrl}>
    <meta property="og:site_name" content={siteName}>
    <meta property="og:updated_time" content={new Date().toISOString()}>
    <meta property="og:image" content={ogImage}>
    <meta property="og:image:secure_url" content={ogImage}>
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta property="og:image:alt" content={ogImageAlt}>
    <meta property="og:image:type" content="image/jpeg">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content={ogTitle}>
    <meta name="twitter:creator" content="@FabianLetsch">
    <meta name="twitter:description" content={ogDescription}>
    <meta name="twitter:image" content={twitterImage}>
    <meta name="twitter:image:alt" content={ogImageAlt}>
    <link rel="shortlink" href={pageUrl}>
    <style is:inline>
        @font-face {
            font-family: 'Roboto Condensed';
            font-style: normal;
            font-weight: 400;
            font-display: swap;
            src: url(/fonts/roboto-condensed-normal-400.woff2) format('woff2');
        }

        @font-face {
            font-family: 'Teko';
            font-style: normal;
            font-weight: 600;
            font-display: swap;
            src: url(/fonts/teko-normal-600.woff2) format('woff2');
        }

        :root {
            --background-color: #2a2a2a;
            --highlight-color: #ff6d6d;
            --light-highlight-color: #ff9999;
            --font-color: #fff;
            --dark-background-color: #000;
        }

        body {
            margin: 0;
            background-color: var(--background-color);
        }

        .text-content {
            display: block;
            margin-right: auto;
            margin-left: auto;
            padding: min(30vh, 120px) 20px;
            box-sizing: border-box;
            width: 100%;
            max-width: 900px;
        }

        .text-content h1 {
            color: var(--font-color);
            font-family: 'Teko', sans-serif;
            font-size: 54px;
            margin: 0;
        }

        .text-content h2 {
            color: var(--font-color);
            font-family: 'Teko', sans-serif;
            font-size: 36px;
            line-height: 1.1;
            margin: 0;
        }

        .text-content h3 {
            color: var(--font-color);
            font-family: 'Teko', sans-serif;
            font-size: 36px;
            margin: 0;
        }

        .text-content p {
            color: var(--font-color);
            font-family: 'Roboto Condensed', sans-serif;
            margin: 16px 0;
            font-size: 18px;
        }

        .text-content a {
            color: var(--light-highlight-color);
            font-family: 'Roboto Condensed', sans-serif;
            font-size: 18px;
            text-decoration: none;
        }
    </style>
</head>
