---
import Transition from './Transition.astro';

export interface Props {
    src?: string;
    srcset?: string;
    videoSrc?: string;
    alt: string;
    position?: string;
    centerImage?: boolean;
    bottomTransitionColor?: string;
}

const {
    src,
    srcset,
    videoSrc,
    alt,
    position = "50% 50%",
    centerImage = false,
    bottomTransitionColor = "var(--background-color)",
} = Astro.props;
---

<style is:inline>
    .wrapper {
        width: 100%;
        height: calc(100vh - 100px);
        position: relative;
        overflow: hidden;
    }

    .header-image,
    .header-video {
        object-fit: cover;
        height: 100%;
        width: 100%;
        display: block;
    }

    .header-video {
        display: none;
    }

    .center-image {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: calc(100vw - 80px);
        user-select: none;
        pointer-events: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .bottom-transition {
        position: absolute;
        bottom: 0;
        width: 100%;
    }
</style>

<div class="wrapper">
    <img
        src={src}
        srcset={srcset}
        alt={alt}
        class="header-image"
        style={`object-position: ${position}`}
    />
    {videoSrc && (
        <video
            class="header-video"
            autoplay
            muted
            playsinline
            disablepictureinpicture
        >
            <source src={videoSrc} type="video/mp4" />
            Your browser does not support the video tag.
        </video>
    )}
    {centerImage && (
        <div class="center-image">
            <slot />
        </div>
    )}
    <div class="bottom-transition">
        <Transition
            color={bottomTransitionColor}
        />
    </div>
</div>

<script is:inline>
    window.addEventListener('load', function() {
        const headerImage = document.querySelector('.header-image');
        const headerVideo = document.querySelector('.header-video');

        if (headerVideo) {
            headerVideo.addEventListener('canplay', function() {
                headerImage.style.display = 'none';
                headerVideo.style.display = 'block';
            });

            headerVideo.load();
        }
    });
</script>
