---
export interface Props {
    src?: string;
    srcset?: string;
    videoSrc?: string;
    alt: string;
    position?: string;
    centerImage?: boolean;
}

const {
    src,
    srcset,
    videoSrc,
    alt,
    position = "50% 50%",
    centerImage = false,
} = Astro.props;
---

<div class="w-full h-[100vh] relative overflow-hidden">
    {src && (
        <img
            src={src}
            srcset={srcset}
            alt={alt}
            class="object-cover h-full w-full block"
            style={`object-position: ${position}`}
        />
    )}
    {videoSrc && (
        <video
            class="header-video object-cover h-full w-full block"
            autoplay
            muted
            playsinline
            disablepictureinpicture
            loop
        >
            <source src={videoSrc} type="video/mp4" />
            Your browser does not support the video tag.
        </video>
    )}
    {centerImage && (
        <div class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-[calc(100vw-80px)] select-none pointer-events-none flex justify-center items-center">
            <slot />
        </div>
    )}
</div>

<script is:inline>
    window.addEventListener('load', function() {
        const headerImage = document.querySelector('.object-cover.h-full.w-full.block');
        const headerVideo = document.querySelector('.header-video');

        if (headerVideo) {
            headerVideo.addEventListener('canplay', function() {
                headerImage.style.display = 'none';
                headerVideo.style.display = 'block';
            });

            headerVideo.load();
        }
    });
</script>
